@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Font Style */
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.fornt-qo {
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
  }
/* Share Styles */
*{
    margin: 0;
}
.bg-dark{
    background-color: black;
    width: 100vw;
}

.bg-linear-dark {
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.92) 25%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.92) 75%, rgb(0, 0, 0));
    width: 100vw;

}

.bg-secondary{
    background-color: rgba(34, 34, 34, 1);
}
.adjust-width{
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.text-primary{
    color: white;
}

.text-title{
    font-size: 3rem;
    width: 900;
}
.display-flex{
    display: flex;
}

.display-grid{
    display: grid;
}

.text-secondary{
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;
    font-weight: 200;
    /* margin-top: 5px; */
}

.btn-primary{
    width: calc((90% - 24px)/2);
    min-width: 130px;
    max-width: 230px;
    padding: 14px 0;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 42px;
    font-size: 1.125rem;
    font-weight: 600;
}


.btn-secondary{
    background-color: rgba(230, 83, 60, 1);
    border: none;
}

/* Navigation Bar Styles */
.nav-bar{
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}
.brand{
    font-size: 2.25rem;
    font-style: italic;
    color: rgba(230, 83, 60, 1);
    /* border: 1px solid gray; */
}
.nav-items{
    list-style: none;
    gap: 45px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 6px;
    padding-right: 24px;
}

.nav-item{
    padding: 8px 0;
}

.nav-link{
    text-decoration: none;
    color: white;
    font-size: 1.12rem;
}

.nav-special{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 40px;
    padding: 0 20px;
    padding-top: auto;
    padding-bottom: auto;
    display: flex;
    align-items: center;

}
.menu-bar{
    display: none;
    /* width: 24px;
    height: 24px; */
}
.menu-bar img{
    width: 100%;
}

/* Cover Styles */
.cover{
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid white; */
}

.cover-information{
    max-width: 480px;
    flex-direction: column;
    /* border: 1px dotted wheat; */
}

.cover-title{
    font-size: 4.875rem; 
}

.special-word{
    font-weight: 200;
    font-size: 8rem;
    line-height: 40px;
}

.cover-details{
    font-size: 1rem;
    margin: 28px 0;
}

.cover-buttons{
    width: 100%;
    /* justify-content: space-between; */
    /* border: 1px solid tomato; */
    gap: 14px;
}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgba(230, 83, 60, 1);
    justify-content: center;
    align-items: center;
}

.triangle{
    width: 0;
    height: 0;
    border-radius: 2px;
    border-left: 16px solid white;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.cover-visuals{
    position: relative;
}

.visual-info{
    justify-content: center;
    align-items: center;
    gap: 8px;
    /* border: 1px solid white; */
    width: 190px;
    height: 95px;
    border-radius: 12px;
    line-height: 30px;
    background-color: rgba(115, 115, 115, 0.136);
    backdrop-filter: blur(5px);
}

.visual-info-card-1{
    position: absolute;
    top: 420px;
    left: -20%;
    
}

.visual-info-card-2{
    position: absolute;
    top: 150px;
    left: 60%;  
}

.visual-info-details>h2 {
    font-size: 1.5rem;
}
.visual-info-details>h1 {
    font-size: 2.5rem;
    line-height: 35px;
}














/* Main Body Styles */
/* Habit Section Styles */
.habit-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 60px;
}

.habit-description{
    max-width: 660px;
    /* border: 1px solid snow; */
    padding-bottom: 40px;

}

.habit-description-title{
    font-size: 3rem;
    width: 900;
    line-height: 80px;
}

.habit-description-details{
    font-size: 1rem;
    font-weight: 300;
    line-height: 25px;
}

.habits-list{
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.habit-card{
    /* border: 1px solid wheat; */
    max-width: 230px;
}



.habit-image>img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.habit-title{
    font-size: 1.2rem;
    font-weight: 600;
}

.habit-details{
    margin-top: 5px;
}






/* Join Section Styles */
.join-container{
    margin-top: 80px;
    padding: 30px 50px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.join-description{
    max-width: 445px;
}

.join-image{
    min-width: 400px;
    min-height: 350px;
    overflow: hidden;
    background-color: aliceblue;
    background-image: url("../assets/images/run.jpg");
    background-repeat: no-repeat;
    background-position: 67% 34%;
    border-radius: 20px;
}

/* .join-description-title{
    line-height: 60px;
} */

.join-description-details{
    margin: 25px 0;
}



















/*Tablet Responsive Part */

@media screen and (min-width: 576px) and (max-width: 992px){
    .adjust-width{
        margin: 0 30px;
    }
    .nav-bar{
        /* padding: 0 30px; */
        padding-top: 50px;
    }
    .nav-items{
        gap: 25px
    }
    .cover{
        flex-direction: column;
        gap: 100px;
        margin-top: 75px;
    }
    .visual-info-card-1{
        top: 350px;
        left: -10%;
    }
    
    .visual-info-card-2{
        top: 50px;
        left: 55%;  
    }


    .habit-description{
        max-width: 500px;
    }
    .habits-list{
        grid-template-columns: repeat(2, 1fr);
    }
    .join-container{
        margin-top: 100px;
    }
    .join-image{
        min-width: 220px;
        width: 280px;
        min-height: 380px;
    }

}









/* Mobile Responsive Part */

@media screen and (max-width: 578px) {
    .adjust-width{
        margin: 0 20px;
    }
    .text-title{
        font-size: 2rem;

    }
    .nav-manu{
        display: none;
    }
    .nav-bar{
        /* padding: 0 30px; */
        padding-top: 30px;
    }
    .menu-bar{
        display: grid;
        width: 28px;
        height: 26px;
        opacity: .8;
    }
    .cover{
        flex-direction: column;
        gap: 40px;
        margin-top: 75px;
    }.cover-title{
        font-size: 2.25rem; 
        line-height: 40px;
    }
    .special-word{
        font-weight: 200;
        font-size: 5rem;
        line-height: 40px;
    }
    .visual-info{
        width: 140px;
        height: 72px;
    }


    .triangle{
        width: 0;
        height: 0;
        border-radius: 2px;
        border-left: 16px solid white;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
    }

    .visual-info-card-1{
        top: 275px;
        left: 5%;
    }
    
    .visual-info-card-2{
        top: 50px;
        left: 54%;  
    }
    .btn-primary {
        width: calc((100% - 24px)/2);
        font-weight: 500;
        padding: 10px 0;
    }
    .visual-info-details>h2 {
        font-size: 1.5rem;
    }
    .visual-info-details>h1 {
        font-size: 1.8rem;
        line-height: 42px;
    }
    .visual-info-details>p{
        font-size: 0.7rem;
        line-height: 5px;
    }



    .habits-list{
        grid-template-columns: repeat(1, 1fr);
    }
    .join-container{
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        margin-top: 70px;
    }
    .join-description{
        width: 80vw;
    }
    .join-image{
        /* max-width: 360px; */
        /* max-height: 170px; */
        width: 80vw;
        height: 50vw;
        background-size: cover;
        min-width: 100px;
        min-height: 100px;
    }
    .btn-join{
        width: 100%;
        max-width: 100%;
    }
}